$small-screen: 350px;
$medium-screen: 500px;
$large-screen: 750px;

$black: #101010;
$grey: #aaaaaa;

$yellow-l5: #fffef3;
$yellow-l4: #fffbd8;
$yellow-l3: #fff7b1;
$yellow-l2: #fff38b;
$yellow-l1: #ffef64;
$yellow-d1: #ffe81e;
$yellow-d2: #fde400;
$yellow-d3: #ddc700;
$yellow-d4: #beab00;
$yellow-d5: #9e8e00;
