@import "./variables";
@import "./base";

.header-container{
  width: 100%;
  display: inline-block;

  .breadcrumb {
    float: left;
    font-weight: bold;

    .clickable {
      color: $yellow-d4;
      cursor: pointer;
      text-decoration: underline;
    }

    .sep {
      margin: 0 0.5em;
      &:after {
        content: '/';
      }
    }
  }

  .btn-wrapper {
    margin-left: auto;
    width: fit-content;
    float: right;
    line-height: 0.5em;

    button {
      @include button-click();
      margin: 0 0 0 0.5em;
    }
  }
}

.page-wrapper {
  text-align: center;
  padding-bottom: 0.5em;
  border-bottom: 0.5px $grey solid;

    button {
      @include button-click();

      &.add {
        background-color: $yellow-l4;

        &:hover {
          background-color: $yellow-l2;
        }
      }
    }

  .page-label {
    text-decoration: underline;
    cursor: pointer;
  }
}
