@import "./variables";

.rooms-wrapper, .marks-wrapper {
  display: inline-block;

  .checkbox {
    margin: 0 0.2em;
    padding: 0 0.5em;
    float: left;
    border: 0.5px $grey solid;
    border-radius: 0.5em;
    box-shadow: 0.5px 0.5px 0.5px;
    background-color: $yellow-l3;
    cursor: pointer;

    @media screen and (min-width: 360px) and (max-width: 390px) {
      font-size: 0.95em;
    }

    &:first-child {
      margin-left: 0;
    }

    &.active {
      background-color: $yellow-d3;
      box-shadow: inset 0.5px 0.5px 0.5px;
    }
  }
}

.rooms-wrapper {
  margin-top: 0.5em;
  margin-right: 0.2em;
}

.marks-wrapper {
  .checkbox {
    padding: 0 0.25em;
  }
}

.input-wrapper {
  padding-bottom: 0.5em;
  border-bottom: 0.5px $grey solid;
  text-align: center;

  input {
    width: 60%;
    text-align: center;
    line-height: 1.2em;
  }

  span {
    margin-left: 1em;
    color: green;
    font-weight: bold;
  }
}
