@import "./variables";
@import "./base";

.rooms-wrapper, .marks-wrapper {
  @include toggle-wrapper();
}

.rooms-wrapper {
  margin-top: 0.5em;
  margin-right: 0.4em;
}

.marks-wrapper {
  .checkbox {
    padding: 0 0.25em;
  }
}

.input-wrapper {
  padding-bottom: 0.5em;
  border-bottom: 0.5px $grey solid;
  text-align: center;

  input {
    width: 50%;
    border: 0.5px #ffffff solid;
    box-shadow: 2.5px 2.5px 0.2em $grey;
    text-align: center;
    line-height: 1.25em;
  }

  span {
    margin-left: 1em;
    color: green;
    font-weight: bold;
  }
}
