@import "./variables";

.logo-wrapper {
  text-align: center;

  img.logo {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

.class-wrapper {
  .class-label {
    width: 80%;
    margin: auto;
    padding: 0.25em;
    border: 1px $grey solid;
    border-radius: 0.5em;
    font-size: 1.25em;
    background-color: $yellow-l3;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $yellow-d3;
    }
  }
}

.link-wrapper {
  margin-top: 3em;
  padding-top: 1em;
  text-align: center;

  &>div{
    display: inline-block;
    margin: 0 0.5em;
    padding: 0.25em 0.75em;
    text-decoration: underline;
    color: $yellow-d4;
    cursor: pointer;

    &:hover {
      color: $black;
    }

    a:link, a:active, a:visited, a:hover{
      text-decoration: inherit;
      color:inherit;
    }
  }
}
