@import "./variables";
@import "./base";
@import "./transitions";

.logo-wrapper {
  text-align: center;

  img.logo {
    width: 75%;
    max-width: 600px;
    margin: auto;

    @include fade-in(2s);
  }
}

.class-wrapper {
  .class-label {
    @include button-click();

    display: block;
    width: 50%;
    max-width: 300px;
    margin: auto;
    padding: 0.5em;
    background-color: $yellow-l3;

    &:hover {
      background-color: $yellow-l1;
    }

    span {
      font-size: 1.25em;
    }
  }
}

.link-wrapper {
  margin-top: 3em;
  padding-top: 1em;
  text-align: center;

  &>button{
    @include button-click();

    span {
      font-size: inherit;
    }
  }
}
