@import "./variables";
@import "./base";

.export-header-wrapper {
  .class-label {
    font-weight: bold;
    margin-right: 0.25em;
  }

  .page-label {
    margin-right: 0.25em;
  }

  button {
    @include button-click();
  }
}

.export-body-wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 0.5em;

  &>textarea {
    float:left;
    width: calc(50% - 20px);
    max-width: 300px;
    resize: none;

    &:first-child {
      background-color: $yellow-l4;
    }

    &:last-child {
      margin-left: 6px;
    }
  }
}
